<div class="card user-card">
  <div class="row card-body">
    <div class="avatar col-md-3">
      <a [href]="gitUser?.html_url" target="_blank">
        <img [src]="gitUser?.avatar_url" class="rounded-circle profile-pic" alt="avatar_url">
      </a>
    </div>
    <div class="details col-md-7">
      <h4 class="card-title">{{gitUser?.login}}</h4>
      <p class="card-text"><strong>Profile URL : </strong> <a [href]="gitUser?.html_url"
        target="_blank">{{gitUser?.html_url}}</a></p>
      <p class="card-text">
        <strong>Rating :</strong> {{gitUser?.score}}<br />
        <strong>Type :</strong> {{gitUser?.type}}
      </p>
    </div>
    <!-- show repo details button -->
    <div class="button-wrapper col-md-2">
      <button class="btn details-btn" (click)="showUserRepos(gitUser.login)"
        [disabled]="loader">{{ showGitRepos ? 'Collapse' : 'Details'}}</button>
    </div>
  </div>
  
  <!-- details table -->
  <app-git-repo-details [gitRepos]="gitRepos" [loader]="loader" *ngIf="showGitRepos" ></app-git-repo-details>
</div>