.wrapper {
    width: 60%;
    margin: 0 auto
}
.header {
    background: #147abc;
    padding: 1rem 0;
}
.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.header .wrapper select {
    width: 30%;
}
.header .wrapper input {
    width: 50%;
}
