.wrapper {
    width: 60%;
    margin: 0 auto
}
.header {
    background: #147abc;
    padding: 1rem 0;
}
.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.header .wrapper select {
    width: 30%;
}
.header .wrapper .search_box {
    width: 50%;
    position: relative;
}
.search_box i {
    position: absolute;
    right: 3%;
    top: 32%;
    pointer-events: none;
}
.search_box input:focus + i {
    filter: opacity(0.5);
}