/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body {
    background: #f6f6f6;
    font-family: 'Lato', sans-serif;
}
.alert {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}